html {
    font-family: sans-serif;
}

body {
    margin: 0;
    text-align: center;
    background-color: rgb(124, 225, 225);
    color: black;
}

#logo {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    margin-top: 2rem;
}

h1 {
    color: rgb(201, 25, 145);
}

a {
    color: blueviolet;
}